/*nav-bar*/

#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
}

#main-nav .logo {
  justify-self: center;
}

#main-nav .container ul {
  justify-self: center;
}

#main-nav .container .logo {
  width: 160px;
  padding-bottom: 1rem;
}

#main-nav .container ul li a {
  padding: 0.5rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-column: 1;
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  /*stacking*/
  #showcase .showcase-container,
  #home-articles .articles-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }

  #about .container-about {
    grid-template-columns: 1fr;
  }

  #article .container-about {
    grid-template-columns: 1fr;
  }
}

@media (max-height: 568px) {
  #showcase .showcase-container h1 {
    font-size: 1.5rem;
  }
}
